<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-forms-custom-error-messages-production</title>
<script src="//code.angularjs.org/1.7.8/angular.min.js"></script>
  <script src="app.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcEtgbsRMrUkJ0vzGVttEhLBjdB5N3aCE&libraries=places"></script>
<!--  commented from subchild <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmA-Xxb1u607ONoNBUt1nfCTFrs1eJKg4&libraries=places"></script>-->
</head> 
<body>
  <div ng-app="myApp" ng-controller="formCtrl" ng-init="init()">
  <form novalidate>
    street address:<input type="text"  id="pick-up" ng-model="street"><br><br>
APt/Unit/site: <input type="text" ng-model="apt">
    <br><br>
      <br>
city:<input type="text" ng-model="city">
    <br><br>
      <br>
state:<input type="text" ng-model="state">
    <br><br>
      <br>
Zip code:<input type="text" ng-model="zip">
    <br><br>
</form>
 
</div>
</body>
</html>